//-------------------------------------------------------------------------------------
//- Home page
//-------------------------------------------------------------------------------------

extends ../base

block setup
	- jsClass = "Home";


block content
	h1 HI
	.wrapper	
		main
			section
				h1 gooditude
				img 
				h3 be grateful. feel good.


